@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100&display=swap');

* {
  touch-action: none;
}

body{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Anek Tamil', sans-serif;
  background-color: black;
}
.calculatorBody{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  grid-gap: 7px;
  grid-template-areas:
  "display display display display"
  "clear backspace plusMinus divide"
  "seven eight nine multiply"
  "four five six subtract"
  "one two three add"
  "zero dot percent equals";
  background-color: black;
  padding: 40px 10px;
  width: 500px;


}

.display{
  grid-area: display;
  justify-self: end;
  color: white;
  font-size: min(14vw, 67px);
}

button{
  justify-self: center;
  align-self: flex-end;
  padding-top:7px;
}

.number, .percent, .orange, .miscFunc{
  width: 100%;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 100%;
  font-family: 'Anek Tamil', sans-serif;
  font-size: min(7vw, 40px);
  font-weight: 700;
}

.number, .percent{
  background-color:rgb(49, 49, 49);
  color: white;
}

.orange{
  background-color:orange;
  color: white;
}


.miscFunc{
  background-color:lightgrey;
  color: black;
}

.pressedOperation{
  background-color:white;
  color: orange;
}

.pressedNumber{
  background-color: lightslategray;
}

.releasedNumber{
  background-color: rgb(49, 49, 49);
  transition: background-color 0.4s;
}

.pressedFunc{
  background-color: white;
}

.releasedFunc{
  background-color: lightgrey;
  transition: background-color 0.4s;
}
