@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100&display=swap');

* {
  touch-action: none;
}

body{
  height: 100vh;
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Anek Tamil', sans-serif;
  background-color: black;
}
.calculatorBody{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto repeat(4, 1fr);
  grid-gap: 7px;
  grid-template-areas:
  "display display display display display"
  "plusMinus seven eight nine divide" 
  "clear four five six multiply"
  "back one two three subtract"
  "equals zero dot percent add";
  background-color: black;
  padding: 10px;
}

.display{
  grid-area: display;
  justify-self: end;
  color: white;
  font-size: 40px;
}

button{
  justify-self: center;
  align-self: flex-end;
  padding-top:7px;
}

.number, .percent, .operation, .miscFunc{
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  font-family: 'Anek Tamil', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.number, .percent{
  background-color:rgb(49, 49, 49);
  color: white;
}

.operation{
  background-color:orange;
  color: white;
}


.miscFunc{
  background-color:lightgrey;
  color: black;
}

.pressedOperation{
  background-color:white;
  color: orange;
}

.pressedNumber{
  background-color: lightslategray;
}

.releasedNumber{
  background-color: rgb(49, 49, 49);
  transition: background-color 0.4s;
}

.pressedFunc{
  background-color: white;
}

.releasedFunc{
  background-color: lightgrey;
  transition: background-color 0.4s;
}
